@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

:root {
  --primary: #1C3879;
  --secondary: #607EAA;
  --tertiary: #EAE3D2;
  --grey-1: #4d4d4d;
  --grey-2: #979797;
  --grey-3: #c6c6c8;
  --grey-4: #e8e8e8;
  --grey-5: #f8f8f8;
  --white: #ffffff;
  --black: #292929;
  --space-sm: 5px;
  --space: 10px;
  --space-lg: 20px;
}

*::before,
*::after,* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-display: swap;
  height: 100%;
  background-color: var(--grey-5);
  color: var(--primary)
}

#root {
  height: 100vh;
  min-height: 100vh;
}

select, input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
}

input {
  border: 1px solid var(--primary);
  padding: var(--space);
}

input:focus {
  outline: 1px solid var(--primary);
}

button {
  cursor: pointer;
  padding: 0.5rem;
}

h1, h2 {
  margin: 0;
  margin-bottom: var(--space)
} 
